.body {
  color: #000000;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #A3A6BA;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: 541460;
}

.main {
  padding: 5% 0 0;
  width: 50%;
  margin: auto;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
